.btn {
  width: 88px;
  height: 32px;
  margin: 0 20px 20px 0;
  background-color: #343F50;
  border: 1px solid #1A202C;
  box-shadow: inset 1px 1px 0 0 #485261;
  color: #CBD5DF;
  transition: all .3s;
}
.btn:enabled:hover {
  box-shadow: inset 1px 1px 0 0 #5d6573;
  text-decoration: underline;
}
.btn:enabled:active {
  box-shadow: inset 1px 1px 0 0 #2a3240;
}
.btn:disabled {
  box-shadow: none;
  color: #4a5568;
}
.positive {
  color: #439aff;
}
.positive:enabled:hover {
  background-color: #439aff;
  border: 1px solid #439aff;
  box-shadow: inset 1px 1px 0 0 #69aeff;
  color: #fff;
}
.positive:enabled:active {
  box-shadow: inset 1px 1px 0 0 #367bcc;
}
.negative {
  color: #EB5757;
}
.negative:enabled:hover {
  background-color: #EB5757;
  border: 1px solid #EB5757;
  box-shadow: inset 1px 1px 0 0 #ef7979;
  color: #fff;
}
.negative:enabled:active {
  box-shadow: inset 1px 1px 0 0 #bc4646;
}

