/* font --------------------------------------- */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* reset --------------------------------------- */
body {
  margin: 0;
  font-family: 'Pretendard-Regular', sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}
img {
  /* 보통 top으로 많이 초기화 시킴 */
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}


/* css 적용 --------------------------------------- */
body {
  background-color: #fffaf0;
}


/* header */
.max-width {
  width: 1284px;
  max-width: calc(100% - 60px);
  margin: auto;
  /* background-color: red; */
}
.header .max-width {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  background-color: #fff;
}
.header h1 {
  width: 156px;
}

/* 로그인 */
.login {
  margin-top: 70px;
}
.main-title {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.main-title svg {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.svg-heart {
  stroke: transparent;
  stroke-width: 0;
  scale: .8;
  transform-origin: 50% 20px;
  position: relative;
  z-index: 10;
  animation: heart .5s ease infinite alternate;
}

@keyframes heart {
  /* 시작을 기본 상태로 하고 싶으면 0%는 주지 않아도 된다. */
  50% {
    stroke: #ffc4d1;
    stroke-width: 2px;
    scale: 2;
    rotate: -20deg;
  }
  100% {
    stroke: #ffc4d1;
    stroke-width: 2px;
    scale: 2.5;
    rotate: 20deg;
  }
}


.main-title strong {
  color: #29363d;
  font-size: 24px;
  font-family: 'Pretendard-Bold';
  box-shadow: inset 0 -0.5em 0 rgb(255, 79, 110, .4);
  border-bottom: 2px solid #ff4f6e;
}

/* 로그인 form */
.form {
  width: 392px;
  /* background-color: skyblue; */
  margin: 40px auto 52px;
}
.form label {
  display: block;
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}
.form input {
  width: 100%;
  height: 48px;

  /* input 입력값이 살짝 떨어져서 나오게 하는 법 */
  padding: 10px;
  box-sizing: border-box;

  border: 0;
  border-bottom: 1px solid #677880;
  font-size: 20px;
  border-radius: 4px 4px 0 0;
}
.form > div {
  margin-bottom: 24px;
}
.form button[type="submit"] {
  width: 100%;
  height: 48px;
  border: 0;
  background-color: #29363d;
  color: #f4f5f5;
  font-size: 16px;
  border-radius: 4px;
}
input, button {
  font: inherit;
}



/* footer */
.footer {
  text-align: center;
  color: #677880;
  font-size: 12px;
}
/* button */
.btn-join {
  /* button의 기본 display는 inline이다. */
  /* flex-item은 자동으로 block이 되지만 */
  /* 나중에 유지보수를 위해서 display를 명시 */
  display: inline-flex;
  height: 40px;
  padding: 0 20px 0 52px;
  background-color: #fff;
  align-items: center;

  /* img 태그 대신 background로 넣으면 렌더링 되다 끊긴다 하더라도 대처가 더 쉽다. */
  background-image: url(./img/icon-join.svg);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 10px 50%;
}